<!DOCTYPE html>
<html class="fullscreen_page sticky_menu">
<head>
  <title>ImgsStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'favico.ico' %>
  <title>Oyster | Html Photo Template</title>
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,900" rel="stylesheet" type="text/css">
</head>


<body>

<%= render 'shared/header' %>
<%= yield %>
<%= render 'shared/footer' %>

</body>
</html>
